<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Placies</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Placies</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href='/places'>Places</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/users/new">Register</a></li>
    </ul>

    {{{ body }}}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/script.js" charset="utf-8"></script>
    <script src="/js/userScript.js" charset="utf-8"></script>
  </body>
</html>
