<h1 class="title is-4">Search for places</h1>

<form class="field" id="placeSearch" action="#" method="post">
  <label class="label" for="keyword">Search</label>
  <input class="input column is-4" type="text" name="keyword" id="keyword" value="">
  <input class="button is-primary" type="submit" value="Search">
</form>

<div class="lists">
  <ul id="search-result">
    <h1 class="title is-4">Search Result</h1>
    <img id="spinner" class="hidden" src="./img/Spinner.gif" alt="loading">
  </ul>

  <ul id="added-list">
  <h1 class="title is-4">Added Places</h1>
    {{#each places as |place|}}
      <li>
        <div class="">
          {{place.name}}
          <br>
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{place.reference}}&key=AIzaSyDD5x1McH5fSk3kUJu3VKpwax7oXiBjF4s" alt="{{place.name}}">
        </div>
      </li>

    {{/each}}
  </ul>

</div>
