<h1>Search for places</h1>

<form id="placeSearch" action="#" method="post">
  <label for="keyword">Search</label>
  <input type="text" name="keyword" id="keyword" value="">
  <input type="submit" value="Search">
</form>

<ul id="search-result">
  
</ul>
