<h1 class="title is-4">User</h1>

<div class="container">
  {{user.name}}<br>
  {{user.email}}<br>
</div>
<br>
<br>

<div class="container">
  <h1 class="title is-6">Shortlisted Places</h1>
  <ul>
    {{#each user.places as |place|}}
    <li>
      {{place.name}}<br>
      {{place.address}}
      {{/each}}
    </li>
  </ul>
</div>
